
.rc-slider-dot-active {
  border-color: #2196f3 !important;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 10px;
}

.Dashboard-select-header {
  
}

.Dashboard-select-left {
  width: 20px;
  float: left;
  padding-top: 25px;
}

.Dashboard-info-autocomplete {
  width: 20px;
  float: left;
  padding-top: 0px;
}

.Dashboard-select-right {
 margin-left: 50px;
}


.Dashboard-wrap {
    margin: 0px !important;
    padding: 0px !important;
    padding-right: 0px !important;
    background-color: white;
    overflow: hidden !important;
}


.Dashboard-sidebar {
    background-color: white !important;
    padding-left: 20px;
    padding-top: 55px;
    width: 200px !important;
    float: left !important;
    height: 200px !important;
    min-height: 100px !important;
}


.Dashboard-main {
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    min-height: 100px;
    padding-bottom: 0px;
}

.Dashboard-loading {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100px;
    min-height: 100px;
    padding-bottom: 25px;
}


.Dashboard-main-inner {
  position:relative;
        margin-left:0px;
}


.Dashboard-brush {
    padding-left: 50px !important;
    padding-right: 0px !important;
}


.Dashboard-main thead tr:first-child {
    border-bottom: 1px solid #000;
}


.Dashboard-main td {
    padding : 5px;
}


.Dashboard-main tr:nth-child(even) {
    background-color: #d3d3d3;
}


.Dashboard-main table {
    width: 100%;
}


.Dashboard-main td:first-child {
    min-width: 150px;
}


.Dashboard-main td:nth-child(2),
.Dashboard-main td:nth-last-child(2),
.Dashboard-main td:nth-last-child(1) {
    min-width: 100px;
}


.display-no {
    display:none
}

